body{
    padding: 0;
    margin: 0;
    background-image: url(./source/fondoLogin.jpg) ;
}

.header{
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgb(27, 27, 27);
}

.header li{
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
}

.header li a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    padding: 20px;
  }

.header a:hover:not(.active){
    background: rgba(0,0,0,0.3);    
}

.header li img{
    width: 30px;
    height: 30px;
    margin: none;
    padding: none;
    border-style: none;
}

.active {
    background-color: rgb(116, 116, 116);
}

.aside{
    color: white;
    width: 550px;
    margin: 0;
    font-size: 30px; 
    padding: 70px 50px;
    background: rgba(0,0,0,0.5);    
    display: flex;
    margin-top: 16%;   
}

.aside hr{
    width: 1px;
    height: 100px;
    margin-top: -18px;
    margin-bottom: -30px;
    margin-left: 40px;
    padding: 0px;
}

.aside label{
    margin-left: 35px;
}

/*----------------------------------------------*/

.error404{
    background: rgba(0,0,0,0.5);    
    display: flex;
    margin-top: 5%;    
}

.error404 label{
    color: white;    
    font-size: 60px; 
    padding: 130px;
    margin: 0px auto;
}

.error404 hr{
    width: 1px;
    height: 150px;
    margin-top: 5%;
}
/*----------------------------------------------*/
.login{
    box-sizing: border-box;  
    margin-top: -300px;
    margin-left: 55%;
    width: 25%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:10px;
    padding: 20px;
}


.login input[type="submit"]{
    background: linear-gradient(#FFDA63, #FFB948);
    border: "0";
    color: brown;
    opacity: 0.9;
    cursor: pointer; 
    border-radius:5px;  
    margin: 30px auto;  
}

.login input[type="submit"]:hover{
    opacity: 1;
}
    
.login input[type="submit"]:active{
    transform: scale(0.95)
}

.login input{
    display: block;
    padding: 8px;
    width: 90%;
    margin: 20px auto;
    font-size: 15px;
    border-radius:5px;
    border: none;
    background: white;
}

.login h1{
    text-align: center; 
    color: white;
}

.login a{
    text-decoration: none;
    color: white;
    margin: auto 25px;
}

.login a:hover{
    background: rgba(0, 0, 0, 0.1);
    color: rgb(65, 65, 65);
}


/*Media*/

@media (max-width:1000px){
    .login{
        width: 75%;
    }
}

@media (max-width:480px){
    .login{
        width: 95%;
    }
}

/*------------------------------------------------------------*/

.register{
    box-sizing: border-box;  
    margin-top: -300px;
    margin-left: 55%;
    width: 35%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:10px;
    padding: 20px;   
}

.register input[type="submit"]{
    background: linear-gradient(#FFDA63, #FFB948);
    border: "0";
    color: brown;
    opacity: 0.9;
    cursor: pointer; 
    border-radius:5px;  
    margin: 30px auto;   
}

.register input[type="submit"]:hover{
    opacity: 1;
}
    
.register input[type="submit"]:active{
    transform: scale(0.95)
}

.register input{
    display: block;
    padding: 8px;
    width: 90%;
    margin: 20px auto;
    font-size: 15px;
    border-radius:5px;
    border: none;
    background: white;
}

.register h1{
    text-align: center; 
    color: white;
}


/*Media*/

@media (max-width:1000px){
    .register{
        width: 75%;
    }
}

@media (max-width:480px){
    .register{
        width: 95%;
    }
}

/*--------------------------------------------------------*/

.contacto   {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 300px;
    margin-left: 50px;
    margin-top: 50px;    
 }

 .contacto h1{
    text-align: center;      
 }

.contacto button {
    border: none;
    display: block;
    padding: 8px;
    color: white;
    background-color: rgb(17, 17, 17);
    text-align: center;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
  }

.contacto a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
.contacto  button:hover, a:hover {
    background: rgba(0, 0, 0, 0.6);
}

.contactos{
    display: flex;
}

.centrado{
	margin:10px auto;
	display:block;
}

/*---------------------------------------------------*/

.datos button{
    border: none;
    display: block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
}

.datos p{
    text-align: center;
    font-size: 25px; 
    color: beige;   
}

.datos h1{
    text-align: center;
    font-size: 40px;
    color: beige;
}

.datos a{
    text-decoration: none;
}

.datos  button:hover, a:hover {
    background: rgba(0, 0, 0, 0.8);
}

.datos{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: auto;   
    box-sizing: border-box;  
    margin-top: 70px;
    width: 50%;
    max-width: 500px;
    padding: 30px;
    padding-right: 50px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:20px;
}